<%- include('header'); -%>
<div class="content">
    <table id="catalog">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        <tr>
            <th>Kanaga</th>
            <th>Dubai</th>
            <th>05612345</th>
            <th>kn@hw.ac.uk</th>
        </tr>
        <tr>
            <th>Hana</th>
            <th>AbuDhabi</th>
            <th>05662345</th>
            <th>hsk@hw.ac.uk</th>
        </tr>
    </table>
</div>
<%- include('footer'); -%>